{% extends 'components/navigate.html' %}


{% block content %}

<div class="container-fluid my-5">
    <div class="row">
        <div class="col-12 col-lg-10">
            <h2>انبار جدید</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-control d-flex flex-row justify-content-start">
                    {{ form }}
                    <input class="btn btn-primary mx-5" type="submit" value="ذخیره" />
                </div>
            </form>
        </div>
    </div>
</div>




{% endblock content %}