{% extends 'base.html' %} {% block nav %}
{% load static %}

  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="row w-100">
        <div class="col-6">
          <a class="navbar-brand" href="{% url 'home' %}">شهر آجیلی</a>
        </div>
        <div class="col-6 nav-profile d-flex flex-row justify-content-end">
          <img id="nav-menu-btn" src="{% static 'images/avatar.jpeg' %}" />
          <b>{{ request.user.username }}</b>
        </div>
      </div>
    </div>
	<ul id="nav-menu" class="bg-dark">
		<li>
			<i class="fa fa-sign-out" aria-hidden="true"></i>
			<a href="{% url 'logout' %}">خروج</a>
		</li>
	</ul>
  </nav>

  <div class="max-w-5xl mx-auto px-5">
    {% block content %}
    {% endblock content %}
  </div>

{% endblock nav %}
